<app-header style="position:fixed; width: 100%;"></app-header>
<div id="contents" class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" style="padding-top: 100px;">
    <div class="col-md-2">
      <nav class="nav flex-column">
        <a class="nav-link active" href="">Ajouter Stage</a>

      </nav>
    </div>
    <div class="col-lg-10">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="text-transform: capitalize;">chercher un encadrant par email : </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">RECHERCHER</button>
          </form>
        </div>
      </nav>

      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Stagiaire</th>
          <th scope="col">Encadrant</th>
          <th scope="col">Tuteur</th>
          <th scope="col">Sujet de Stage</th>
          <th scope="col">Entreprise</th>
          <th scope="col">Type de Stage</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of stage">
          <th scope="col">{{e.stagiaire.nom +' '+e.stagiaire.prenom}}</th>
          <th scope="col">{{e.stage.encadrant.nom +' '+e.stage.encadrant.prenom}}</th>
          <th scope="col">{{e.stage.tuteur.nom +' '+e.stage.tuteur.prenom}}</th>
          <th scope="col">{{e.stage.sujet}}</th>
          <th scope="col">{{e.stage.tuteur.entreprise.nom}}</th>
          <th scope="col">{{e.stage.type.type}}</th>


          <th scope="col">
            <a class="nav-link active" href="">Update</a><a class="nav-link active" href="">Delete</a><a class="nav-link active" href="">Afficher</a>
          </th>
        </tr>

        </tbody>
      </table>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


</div><!-- /.container -->







