<div id="bod" class="text-center">

<div class="container">
  <form class="form-horizontal" role="form" *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()"
        #loginForm="ngForm">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>CONNEXION</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="email">E-Mail Address</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input type="text" name="email" class="form-control" id="email"
                   placeholder="you@example.com" formControlName="username" required autofocus>
          </div>
        </div>
      </div>
      <div *ngIf="notification" class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle"><p [class]="notification.msgType"><i class="fa fa-close"></i>{{notification.msgBody}}</p>
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="123" formControlName="password" required>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="padding-top: .35rem">
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
          <label class="form-check-label">
            <input class="form-check-input" name="remember"
                   type="checkbox">
            <span style="padding-bottom: .15rem">Remember me</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1rem">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-success"><i class="fa fa-sign-in"></i>
          CONNECTION
        </button>
        <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
      </div>
    </div>
  </form>
  <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>

</div>
</div>
