
<app-header style="position:fixed; width: 100%;"></app-header>
<div id="contents" class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" style="padding-top: 100px;">
    <div class="col-md-2">
      <nav class="nav flex-column">
        <a class="nav-link active" href="admin/entreprise/newentreprise">Ajouter Entreprise</a>
      </nav>
    </div>
    <div class="col-lg-10">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


      </nav>

      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Ville</th>
          <th scope="col">pays</th>
          <th scope="col">email</th>
          <th scope="col">site</th>
          <th scope="col">adresse</th>
          <th scope="col">telephone</th>
          <th scope="col">fax</th>
          <th scope="col">Option</th>



        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of entreprise">
          <th scope="col">{{e.nom}}</th>
          <th scope="col">{{e.ville}}</th>
          <th scope="col">{{e.pays}}</th>
          <th scope="col">{{e.email}}</th>
          <th scope="col">{{e.site}}</th>
          <th scope="col">{{e.adresse}}</th>
          <th scope="col">{{e.telephone}}</th>
          <th scope="col">{{e.fax}}</th>



          <th scope="col">
            <button (click)="onUpdateEntreprise(e.id)" class="btn btn-primary">UPDATE</button>

            <button (click)="onDeleteEntreprise(e.id)" class="btn btn-primary">Delete</button>

          </th>
        </tr>

        </tbody>
      </table>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->




</div><!-- /.container -->







