<app-header style="position:fixed; width: 100%;"></app-header>
<div id="contents" class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" style="padding-top: 100px;">
    <div class="col-md-2">

    </div>

  </div><!-- /.row -->

  <div class="container spacer">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div>
          <div class="form-group">
            <div class="panel panel-primary">
              <form #f="ngForm" (ngSubmit)="saveSoutenance(f.value)">

                <div class="form-group">
                  <label class="control-label">Date Soutenance :</label>
                  <input class="form-control" type="date" ngModel name="dateSoutenance" required/>
                </div>

                <div class="form-group">
                  <label class="control-label">President :</label>
                  <input class="form-control" type="text" ngModel name="president"/>
                </div>

                <div class="form-group">
                  <label class="control-label">Examinateur 1:</label>
                  <input class="form-control" type="text" ngModel name="exminateur1"/>
                </div>

                <div class="form-group">
                  <label class="control-label">Examinateur 2:</label>
                  <input class="form-control" type="text" ngModel name="examinateur2"/>
                </div>

                <div class="form-group">
                  <label class="control-label">Rapporteur :</label>
                  <input class="form-control" type="text" ngModel name="rapporteur"/>
                </div>
                <div class="form-group">
                <label class="control-label">Rapport :</label>
                <input class="form-control" type="text" ngModel name="rapport"/>
              </div>

                <div class="form-group">
                  <label class="control-label">Description:</label>
                  <input class="form-control" type="text" ngModel name="description"/>
                </div>

                <div class="form-group">
                  <label class="control-label">Note :</label>
                  <input class="form-control" type="number" ngModel name="note"/>
                </div>

                <div class="form-group">
                  <label class="control-label">Date Soumission:</label>
                  <input class="form-control" type="date" ngModel name="dateSoumission"/>
                </div>



                <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











